body {
  background: black;
  font-family: arial;
}

.container {
  background: black;
  border: 10px solid #4b2e83;
  width: 400px;
  margin: 20px auto;
  padding: 10px;
}

h1 {
  text-align: center;
  background: gray;  
}