body {
  background-color: black;
}
.container {
  background: black;
  border: 10px solid #4b2e83;
    width: 300px;
}

.panel {
  margin: 20px auto;
  width: 200px;
}

#selected {
  background-color: #4b2e83;
  color: white;
}

#deselected {
  background-color: #b7a57a;
  color: #4b2e83;
}

h3 {
  text-align: center;
}