body { font-family: courier;}
tr#rgbrow {color: black}
tr#hslrow {color: black;}
thead {background-color: yellow; font-size: 24}
#rgbtitle {background-color: yellow;}
#hsltitle {background-color: yellow;}

#rgbrow
#rgb1 {background-color: rgba(0,0,225,0.9);}
#rgb2 {background-color: rgba(0,0,225,0.8);}
#rgb3 {background-color: rgba(0,0,225,0.7);}
#rgb4 {background-color: rgba(0,0,225,0.6);}
#rgb5 {background-color: rgba(0,0,225,0.5);}
#rgb6 {background-color: rgba(0,0,225,0.4);}
#rgb7 {background-color: rgba(0,0,225,0.3);}
#rgb8 {background-color: rgba(0,0,225,0.2);}
#rgb9 {background-color: rgba(0,0,225,0.1);}



#hslrow 
#hsl1 {background-color: hsla(300, 100%, 25%,0.9);}
#hsl2 {background-color: hsla(300, 100%, 25%,0.8);}
#hsl3 {background-color: hsla(300, 100%, 25%,0.7);}
#hsl4 {background-color: hsla(300, 100%, 25%,0.6);}
#hsl5 {background-color: hsla(300, 100%, 25%,0.5);}
#hsl6 {background-color: hsla(300, 100%, 25%,0.4);}
#hsl7 {background-color: hsla(300, 100%, 25%,0.3);}
#hsl8 {background-color: hsla(300, 100%, 25%,0.2);}
#hsl9 {background-color: hsla(300, 100%, 25%,0.1);}
