h1 {color: blue;
font-family: serif;
font-size: 50;}
body {background-color: lightblue;
color: blue;}
thead {color: black;
text-decoration: underline;
font-family: serif;
font-size: 28
}
tbody {font-size: 20;
    font-family: serif;
}
