div {font-weight: 800; font-size: 18}
body {font-family: serif; background-color: mediumpurple}
h1 {background-color: lavender}
table {text-align: center; background-color: beige}
th {text-align: center;}
tbody {color: blue; font-size: 17;}