h1 {background-color: aqua;
    font-family: serif;
    font-size: 48;
    color: darkred;}
thead {background-color: darkgrey;
    font-family: serif;
    font-size: 24;}
tbody {text-align: center;
    font-family: serif;
    font-size: 20;
    background-color: lightgray;}